.tts_player {
   position: fixed; 
   background: white;
   border: 1px solid black;
   z-index: 2137483647;
   font-family: math;
   height: 22px;
   display: flex;
   cursor: default;
}

.tts_player div {
    display: flex;
    justify-content: center;
}

.tts_player > div > div {
    width: 18px;
}

.selected.t_close {
    display: none;
}

.tts_player.t_close {
    display: none;
}


.tts_player > div > .t_close {
    display: none;
}

.macro_button {
    border: 1px solid black;
    background: lightgray;
    font-size: 9pt;
}

.macro_select {
    font-size: 9pt;
    width: 100px;
    height: 25px;
    padding: 2px;
}

.macro_desc {
    position: fixed; 
    background: white;
    border: 1px solid black;
    z-index: 2137483647;
    font-size: 9pt;
    padding: 5px;
    max-width: 300px;
}

.macro_desc.hide{
    display: none;
}
